body{
    background-image: url(images/background.jpg);
    background-size: cover;
    color: white;
}
  

#nav-list{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
   
.logo{
    width: 70px;
}

a{
    text-decoration: none;
    color: white;
}
