@font-face {
    font-family: "MyFont";
    src: url("./fonts/Ethnocentric-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Conthrax";
    src: url("./fonts/Conthrax-SemiBold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Aeonik";
    src: url("./fonts/Aeonik-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-position: inside;
    padding-left: 0;
    margin-left: 0;
}

body{
    font-family: "MyFont", sans-serif;
    background-image: url(images/background.jpg);
    background-size: cover;
    color: white;
}

#nav {
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #FFFFFF70;
    border-radius: 100px;
    width: fit-content;
    margin: auto;
    margin-top: 68px;
    padding: 11.5px 12.7px;
}

#nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

#nav-items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;   
}

#dwnld-now {
    background: #FD9C49;
    border-radius: 100px;
    font-size: 20px;
    padding: 14px 12px;
    
}
   
.logo{
    width: 70px;
}

a{
    text-decoration: none;
    color: white;
}

#hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 34px;
}

#over{
    font-family: "Orbitron", sans-serif;
    text-align: center;
    font-weight: lighter;
    border: 0.82px solid #FFFFFF70;
    border-radius: 100px;
    background: #000000CC;
    padding-right: 21px;
    padding-left: 5px;
    padding-top: 4.5px;
    padding-bottom: 4.5px;
    display: flex;
    width: fit-content;
    margin: 20px auto;
    margin-top: 110px;
}

.over-text{
    font-size: 20px;
    letter-spacing: -0.8px;
}

.pay {
    text-align: center;
}

.pay-text{
    font-size: 96px;
}

#chat {
    color:#FD9C49;
}

.with {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.with-text {
    font-family: "Orbitron", sans-serif;
    font-size: 24px;
    color: #FFFFFFE0;
    width: 756px;
    text-align: center;
    font-weight: lighter;
}

.download {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid white;
    border-radius: 100px;
    padding: 14px 22px;
    font-size: 24px;
    width: fit-content;    
    margin: auto;
    background: #FD9C49;    
}

#about-us {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 150px;
    margin-top: 86px;
    margin-bottom: 47px;
    text-align: center;
}

#digital-presence {
    display: flex;
    flex-direction: column;
    padding-top: 61px;
    justify-content: start;   
    align-items: center;
    overflow: hidden;
    border:1px solid white;
    width: 700px;
    height: 350px;
    margin: auto;
    margin-top: 68px;
    border-radius: 30px;
    background:radial-gradient(#FFFFFF,#000000);
    background-color: #FD9C49;
}

.dig-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 22px;
}

#phone-img {
    width: 250px;
}

.about-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
}

.about-subtitle {
    font-family: "Conthrax", sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
}

.about-subtitle span {
    color: #FD9C49;
}

.about-text {
    width: 720px;
    font-family: "Orbitron", sans-serif;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
}

#values {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 28px;
    width: 558px;
}

#values div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    width: 265px;
    border: 1px solid #FFFFFF;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 400;
}

#features {
    text-align: center;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.features-title {
    font-size: 40px;
    font-weight: 600;
}

.features-subtitle {
    max-width: 820px;
    margin: 0 auto;
    font-family: "Orbitron", sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.6;
    color: #FFFFFFE0;
}

.features-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px; 
    max-width: 1100px;
    margin: 80px auto;
    border-radius: 30px;
    overflow: hidden;
    background: #ffffff; 
    padding: 24px 32px; 
    width: 1000px;
}


.features-cards-4{
    background-image: url(images/handtouchBackgroundImage.jpg);
    display: flex;
    align-items:end;
    justify-content: center;
    width: 1000px;
    max-width: 1100px;
    margin: 80px auto;
    gap:30px;
    padding: 20px 30px;
    border-radius: 30px;
    height: 460px;
    background-size: cover;
}

.features-cards-4-texts{
    margin-left: 0px;
}

#contact-us{
    background: #FD9C49;
    border-radius: 100px;
    font-size: 20px;
    padding: 14px 12px;
    flex-direction: column;
    margin-bottom: 50px;
    margin-left: 50px;
}

.card-img {
    background: #FD9C49;
    border:1px solid white;
    border-radius: 30px; 
    padding: 15px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex: 1;
    gap: 30px;
    width: 300px;
    height: 350px;
    padding: 44px;
    overflow: hidden;
}

.card-img img {
    width: 350px;
    height: auto;
}

.card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1; 
    padding: 0 60px;
    gap: 30px;
    color: #000;
}

.first-card-feature {
    font-size: 32px;
    font-weight: 600;
}

.second-card-feature {
    font-family: "Orbitron", sans-serif;
    font-size: 18px;
    line-height: 1.6;
}

.card-text #dwnld-now {
    display: inline-block;
    background: #FD9C49;
    color: #fff;
    padding: 14px 28px;
    border-radius: 100px;
    font-size: 18px;
    width: fit-content;
}

.testimonial {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-bottom: 58px;
}

.testimonial-title {
    text-align: center;
    font-size: 50px;
}

.testimonial-wrapper {
    position: relative;
    width: 99%;
}

.nav-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 33px;
    height: 33px;
    border-radius: 50%;

    border: 0.6px solid #FFFFFF;
    background: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    font-size: 24px;
    cursor: pointer;
}

.nav-btn.left {
    left: 22px;   
}

.nav-btn.right {
    right: 22px;
}

.nav-btn.right img {
    rotate: 180deg;
}

.nav-btn:hover {
    background: rgba(0, 0, 0, 0.85);
}

.testimonial-cards::-webkit-scrollbar {
    display: none;
}

.testimonial-cards {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    gap: 28px;
    font-family: "Aeonik", sans-serif;
    color: #000000;
    padding: 0px 120px;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto; 
    overflow-y: hidden;
    scrollbar-width: none;
}

.testimonial-card {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    width: 350px;
    height: 240px;
    background-color: #ffffff;
    border-radius: 20px;
}

.testimonial-card .card-top {
    padding: 12px 34px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testimonial-card .profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dp {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.testimonial-card .card-top .username {
    font-size: 18px;
}

.testimonial-card .tweet {
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
}

.ads {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 31px;
    margin-top: 100px;
    padding: 0px 120px;
    margin-bottom: 149px;
}

.ads-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 45px;
}

.ads .countries {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 13px;
    font-family: "Orbitron", sans-serif;
    width: 450px;
    background-color: #FFFFFF;
    border-radius: 100px;
    color: #000000;
    padding: 13px 0;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.countries .divider {
    width: 300px;
    height: 1px;
    background-color: #0000004D;
}

.countries .flags {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.flags img {
    width: 29px;
    height: 20px;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    object-fit: contain;
}

.ads-img {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 553px;
    height: 568px;
    background-image: url("./images/ads-bg.svg");
    background-color: hsla(28, 98%, 64%, 0.2);
    border-radius: 50px;
    mix-blend-mode: plus-lighter;
}

.ellipse img {
    width: 418px;
    height: 418px;
}

.faqs {
    position: relative;
    padding: 0 120px;
    margin-bottom: 69px;
}

.faqs-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 37px;
    margin-bottom: 57px;
}

.faqs-title {
    font-size: 64px;
}

.faqs-text {
    font-size: 18px;
    font-weight: 400;
}

.faqs-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-family: "Conthrax", sans-serif;
    font-weight: 600;
}

.faq-card {
    background: #110F0B;
    display: flex;
    flex-direction: column;
    padding: 33px 33px 0px 33px;
    border-radius: 50px;
}

.faq-card .question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding-bottom: 33px;
}

.faq-card .question h3 {
    font-size: 24px;
}

.faq-box-icon {
    flex: 0 0 auto;
    display: block;
    position: relative;
    height: 3px;
    width: 23px;
    margin-left: auto;
}

.faq-box-icon::before,
.faq-box-icon::after {
    background: #FFFFFF;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    transition: all ease-out 0.2s;
}

.faq-box-icon::before {
    top: 0;
}

.faq-box-icon::after {
    top: 0;
    transform: rotate(90deg);
}

.question.active .faq-box-icon::after {
    transform: rotate(0deg);
}

.faq-card .answer {
    color: #9A9A9A;
    font-size: 18px;
    max-height: 0;
    overflow: hidden;
    transition: all ease-in-out 0.5s;
}

.faq-card .answer.active {
    max-height: 200px;
    padding-bottom: 33px;

}


.footer{
    display: flex;
    background: #FD9C49;
    width: auto;
    height: 200px;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 110px;
    padding-right: 110px;
    gap: 10px;;
    
}
 
.footer-title{
    font-size:larger;
    padding-bottom: 20px;
}

.footer-body{
    display: flex;
    flex-direction: column;
    font-size: 9 px;
    font-weight: 200px;
    gap: 12px;

}
