@font-face {
    font-family: "MyFont";
    src: url("./fonts/Ethnocentric-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "MyFont", sans-serif;
    background-image: url(images/background.jpg);
    background-size: cover;
    color: white;
}

#nav {
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #FFFFFF70;
    border-radius: 100px;
    width: fit-content;
    margin: auto;
    margin-top: 68px;
    padding: 11.5px 12.7px;
}

#nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

#nav-items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;   
}

#dwnld-now {
    background: #FD9C49;
    border-radius: 100px;
    font-size: 20px;
    padding: 14px 12px;
}
   
.logo{
    width: 70px;
}

a{
    text-decoration: none;
    color: white;
}

.pay{
    text-align: center;
}

#over{
    font-family: "Orbitron", sans-serif;
    text-align: center;
    font-weight: lighter;
    border: 0.82px solid #FFFFFF70;
    border-radius: 100px;
    background: #000000CC;
    padding-right: 21px;
    padding-left: 5px;
    padding-top: 4.5px;
    padding-bottom: 4.5px;
    display: flex;
    width: fit-content;
    margin: 20px auto;
}

.over-text{
    font-size: 20px;
}

#phone-img{
    width:150px;
}

#digital-presence{
    border:1px solid white;
    width: 700px;
    margin: auto;
    align-items: center;
    border-radius: 40px;
    background:radial-gradient(#FFFFFF,#000000);
    background-color: #FD9C49;
}


#about-us{
    text-align: center;
}

.download{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid white;
    border-radius: 100px;
    padding: 14px 22px;
    font-size: 24px;
    width: fit-content;    
    margin: auto;
    background: #FD9C49;
    
}

.with{
    font-family: "Orbitron", sans-serif;
    text-align: center;
    font-weight: lighter;
}

#digital-presence{
    margin-top: 68px;
    align-items: center;
    text-align:center
}


#chat{
    color:#FD9C49;
}

#features{
    text-align: center;
}